<h1>Superhero Team</h1>

<form action='/teams' method="POST">
<label for="team_name" type="text">Taam Name</label><br>
<input id="team_name" type="text" name=""
<label for="team_motto" type="text" name="team[name]"/><br>
