<h1>Create a Team and Heroes</h1>

<form action='/teams' method="POST">
<h1>Team</h1>
<label for="team_name">Team Name</label><br>
<input id="team_name" type="text" name="team[name]"/><br>
<label for="team_motto">Team Motto</label><br>
<input id="team_motto" type="text" name="team[motto]"/><br>

<h2>Heros</h2>
<label for="member1_name">Name</label><br>
<input id="member1_name" type="text" name="team[heros][][name]"/><br>
<label for="member1_power">Power</label><br>
<input id="member1_power" type="text" name="team[heros][][power]"/><br>
<label for="member1_bio">Bio</label><br>
<input id="member1_bio" type="text" name="team[heros][][bio]"/><br>
<br>

<label for="hero_name_2">Name</label><br>
<input id="hero_name_2" type="text" name="team[heros][][name]"/><br>
<label for="hero_power_2">Power</label><br>
<input id="hero_power_2" type="text" name="team[heros][][power]"/><br>
<label for="hero_bio_2">Bio</label><br>
<input id="hero_bio_2" type="text" name="team[heros][][bio]"/><br>
<br>

<label for="hero_name_3">Name</label><br>
<input id="hero_name_3" type="text" name="team[heros][][name]"/><br>
<label for="hero_power_3">Power</label><br>
<input id="hero_power_3" type="text" name="team[heros][][power]"/><br>
<label for="hero_bio_3">Bio</label><br>
<input id="hero_bio_3" type="text" name="team[heros][][bio]"/><br>

<input type="submit" value="Submit">
</form>
